In [4]:
for i in range(1,6):
    for j in range(1,6):
        if j >= i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
 ****
  ***
   **
    *

In [5]:
for i in range(1,6):
    for j in range(1,6):
        if j <= 6-i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
****
***
**
*

In [7]:
for i in range(1,6):
    for j in range(1,10):
        if j>=6-i and j<=4+i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

    *
   ***
  *****
 *******
*********

In [8]:
for i in range(1,6):
    k=1
    for j in range(1,10):
        if j>=6-i and j<=4+i and k:
            print("*",end="")
            k=0
        else:
            print(" ",end="")
            k=1
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [1]:
for i in range(1,6):
    k=1
    for j in range(1,10):
        if j<=6-i or j>=4+i:
            print("*",end="")
            k=0
        else:
            print(" ",end="")
            k=1
    print()

*********
**** ****
***   ***
**     **
*       *

In [4]:
for i in range(1,5):
    k=1
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            print(k,end="")
            if j<4:
                k+=1
            else:
                k-=1
        else:
            print(" ",end="")
    print()

   1
  121
 12321
1234321

In [17]:
for i in range(1,5):
    c = 65
    for j in range(1,8):
        if j<=5-i or j>=3+i:
            print(chr(c),end="")
            if j< 4:
                c+=1    
            else:
                c-=1
        else:
            print(" ",end="")
            if j == 4:
                c-=1
    print()

ABCDCBA
ABC CBA
AB   BA
A     A

In [28]:
k = 0
for i in range(1, 8):
    if i <= 4: 
        k += 1
    else:      
        k -= 1
    for j in range(1, 8):
        if 5 - k <= j <= 3 + k:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [29]:
k=0
for i in range(1, 8):
    if i <= 4: 
        k += 1
    else:      
        k -= 1
    for j in range(1, 5):
        if j<=k:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [31]:
for i in range(1, 5):
    for j in range(1, 8):
        if j>=i and j<=8-i:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * *
  * * * * *
    * * *
      *

In [42]:
for i in range(1,5):
    k=i
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            print(k,end="")
            if j<4:
                k+=1
            else:
                k-=1
        else:
            print(" ",end="")
    print()

   1
  232
 34543
4567654

In [47]:
for i in range(1,8):
    k=7-i
    for j in range(1,8):
        if j <= 8-i:
            print(k,end=" ")
            k-=1
        else:
            print(" ",end=" ")
    print()

6 5 4 3 2 1 0
5 4 3 2 1 0
4 3 2 1 0
3 2 1 0
2 1 0
1 0
0

In [56]:
k=0
for i in range(1,10):
    if i<=5:
        k+=1
    else:
        k-=1
    n=1
    for j in range(1,6):
        if j>=6-k:
            print(n,end=" ")
            n+=1
        else:
            print(" ",end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [65]:

for i in range(1,8):
    for j in range(1,8):
        if i!=j and 8-i != j:
            print("*",end=" ")
        else:
            if 8-j==i:
                print("/",end=" ")
            else:
                print("\\",end=" ")
    print()

\ * * * * * /
* \ * * * / *
* * \ * / * *
* * * / * * *
* * / * \ * *
* / * * * \ *
/ * * * * * \

In [67]:
k=0
for i in range(1, 10):
    if i<=5:
        k+=1
    else:
        k-=1
    for j in range(1, 10):
        if j<=6-k or j>=4+k:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *
* *           * *
* * *       * * *
* * * *   * * * *
* * * * * * * * *

In [71]:
for i in range(1, 6):
    for j in range(1, 10):
        if i<=j<=10-i:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [72]:
for i in range(1,5):
    k=65
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            print(chr(k),end="")
            if j<4:
                k+=1
            else:
                k-=1
        else:
            print(" ",end="")
    print()

   A
  ABA
 ABCBA
ABCDCBA

In [8]:
for i in range(1,5):
    k=65
    a=1
    for j in range(1,9):
        if j>=5-i and j<=4+i:
            if j<= 4:
                print(chr(k),end=" ")
                k+=1
            else:
                print(a,end=" ")
                a+=1
        else:
            print(" ",end=" ")
    print()

      A 1
    A B 1 2
  A B C 1 2 3
A B C D 1 2 3 4

In [13]:
for i in range(1,5):
    for j in range(1,9):
        if j>=5-i and j<=9-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

      * * * * *
    * * * * *
  * * * * *
* * * * *

In [27]:
for i in range(1,5):
    a=49
    for j in range(1,9):
        if j>=5-i and j<=3+i:
            if j<5:
                print(chr(a),end=" ")
                a+=1
                if j ==4:
                    a = 65 
            else:
                print(chr(a),end=" ")
                a+=1
        else:
            print(" ",end=" ")
    print()

      1
    1 2 A
  1 2 3 A B
1 2 3 4 A B C

In [34]:
for i in range(1,7):
    c=1
    for j in range(1,7):
        if j <= i:
            print(c,end=" ")
            c=1-c
        else:
            print(" ",end="")
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1
1 0 1 0 1 0

In [43]:
for i in range(1,8):
    for j in range(1,8):
        if (i==1 or j==1 or i==7 or j==7) or (i>=3 and i<=5 and j>=3 and j<=5) and (i==3 or i==5 or j==3 or j==5):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * *
*           *
*   * * *   *
*   *   *   *
*   * * *   *
*           *
* * * * * * *

In [55]:
m = 0
n = 11
k = 1
for i in range(1,22):
    if i<=n:
        m += 1
    else:
        m -= 1
    k = m-1
    for j in range(1,22):
        if j>=n+1-m and j<=n-1+m:
            print(k%10,end=" ")
            if j<n:
                k += 1
            else:
                k -= 1
        else:
            print(" ",end=" ")
    print()

                    0
                  1 2 1
                2 3 4 3 2
              3 4 5 6 5 4 3
            4 5 6 7 8 7 6 5 4
          5 6 7 8 9 0 9 8 7 6 5
        6 7 8 9 0 1 2 1 0 9 8 7 6
      7 8 9 0 1 2 3 4 3 2 1 0 9 8 7
    8 9 0 1 2 3 4 5 6 5 4 3 2 1 0 9 8
  9 0 1 2 3 4 5 6 7 8 7 6 5 4 3 2 1 0 9
0 1 2 3 4 5 6 7 8 9 0 9 8 7 6 5 4 3 2 1 0
  9 0 1 2 3 4 5 6 7 8 7 6 5 4 3 2 1 0 9
    8 9 0 1 2 3 4 5 6 5 4 3 2 1 0 9 8
      7 8 9 0 1 2 3 4 3 2 1 0 9 8 7
        6 7 8 9 0 1 2 1 0 9 8 7 6
          5 6 7 8 9 0 9 8 7 6 5
            4 5 6 7 8 7 6 5 4
              3 4 5 6 5 4 3
                2 3 4 3 2
                  1 2 1
                    0

In [121]:
for i in range(1,6):
    c=64+i
    for j in range(1,6):
        if j <= i:
            print(chr(c),end=" ")
            c-=1
        else:
            print(" ",end="")
    print()

A
B A
C B A
D C B A
E D C B A

In [76]:
for i in range(1,5):
    k = i
    for j in range(1,9):
        if j>=5-i and j<=3+i:
            print(k,end=" ")
            if j<4:
                k -= 1
            else:
                k += 1
        else:
            print(" ",end=" ")
    print()

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4

In [116]:
k=0
for i in range(1,6):
    if i%2 == 1:
        k += 1
    else:
        k -= 1
        k += i
    flag = 1
    p=k
    for j in range(1,10):
        if j <= 2*i-1:
            if flag:
                print(p,end=" ")
                if i%2 == 0:
                    p -= 1
                else:
                    p += 1
                    k+=1
            else:
                print("*", end=" ")
            flag = 1-flag
        else:
            print(" ",end="")
    print()

1
3 * 2
4 * 5 * 6
10 * 9 * 8 * 7
11 * 12 * 13 * 14 * 15

In [147]:
k = 64
for i in range(1,6):
    k = k+2*(i-1)+1
    for j in range(1,6):
        if j >= 6-i:
            print(chr(k),end=" ")
            k-=1
        else:
            print(" ",end=" ")
    print()

        A
      C B
    F E D
  J I H G
O N M L K

In [179]:
n = int(input("Enter the value of n: "))
for i in range(1,3*n+1):
    for j in range(1,2*n):
        if i<=n:
            if j>=(2*n)-i:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i<=2*n:
            if j==n:
                print("|",end=" ")
            elif j<=(i-n-1) or j>=i:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i<=3*n:
            if j<=(3*n+1)-i:
                print("*",end=" ")
            else:
                print(" ",end=" ")
    print()

Enter the value of n:  5

                *
              * *
            * * *
          * * * *
        * * * * *
        | * * * *
*       |   * * *
* *     |     * *
* * *   |       *
* * * * |
* * * * *
* * * *
* * *
* *
*

In [196]:
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    k=1
    a = 1
    for j in range(1,2*n):    
        if j>=n+1-i and j<=n-1+i:
            if k:
                if i%2 == 1:
                    print(a,end=" ")
                    a+=1
                else:
                    print(chr(64+a),end=" ")
                    a+=1
            else:
               print(" ",end=" ") 
            k=1-k
        else:
            print(" ",end=" ")
    print()

Enter the value of n:  10

                  1
                A   B
              1   2   3
            A   B   C   D
          1   2   3   4   5
        A   B   C   D   E   F
      1   2   3   4   5   6   7
    A   B   C   D   E   F   G   H
  1   2   3   4   5   6   7   8   9
A   B   C   D   E   F   G   H   I   J

In [202]:
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j or n+1-i == j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

Enter the value of n:  5

*       *
  *   *
    *
  *   *
*       *

In [206]:
for i in range(1,5):
    c = 65
    for j in range(1,8):
        if j<=5-i or j>=3+i:
            print(chr(c),end="")   
        else:
            print(" ",end="")
        c+=1 
    print()

ABCDEFG
ABC EFG
AB   FG
A     G

In [219]:
k = 1
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    p=k
    for j in range(1,i+1):
        print(p,end=" ")
        p = p-(n+j-i)
    k=k+1+n-i
    print()

Enter the value of n:  8

1
9 2
16 10 3
22 17 11 4
27 23 18 12 5
31 28 24 19 13 6
34 32 29 25 20 14 7
36 35 33 30 26 21 15 8

In [13]:
flag = 1
k = 0
i = 1

while i <= 7:
    if i < 4 - k:
        print(" ", end=" ")
    else:
        if flag:
            print("*", end=" ")
        else:
            print(" ", end=" ")
        flag = 1 - flag

    if i == 4 + k:
        k += 1
        print()
        if k == 4:
            break
        i = 0 
        flag = 1 
    i += 1

      *
    *   *
  *   *   *
*   *   *   *

In [225]:
for i in range(0,7):
    k = 0
    for j in range(1,7):
        if j <= i:
            print(k,end=" ")
            k+=i-1
        else:
            print(" ",end="")
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25